.account-page {
  /* min-height: 65vh; */
  height: 100vh;
  overflow: hidden;
  /* display: block; */
  /* padding-bottom: 10vh; */
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.avatar {
  border-radius: 50%;
  margin-right: auto;
  margin-left: auto;
  min-width: 10em;
  max-width: 10em;
}

.log-out {
  font-size: 2rem;
  width: 5em;
  background-color: rgb(37, 31, 31);
  color: #f4f4f9;
}
