img {
  align-self: center;
  grid-column: 1 / span 1;
  margin-top: 0.4rem;
  border: 1px solid black;
  margin-left: 1rem;
  width: 100%;
  margin-bottom: 0.5rem;
}

.dropdowns {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 95vw;
  margin: auto;
  font-size: 1.4rem;
}

select {
  margin-top: 0.6rem;
  height: 2rem;
}
