/* article layout */

.article-page {
  margin: auto 5vw;
  height: auto;
}
.article-image {
  width: 50vw;
  height: auto;
}

.article-body {
  margin: auto 5vw;
}

/* post comment box */

/* posted comments */
.comment-card {
  border-bottom: 1px solid grey;
  display: grid;

  grid-template-columns: 100%;
  grid-template-rows: 0.5fr 1fr 1fr;

  font-size: 1rem;
}

.votes {
  grid-row: 3 / span 2;
}

.vote-count {
  font-size: 1rem;
  justify-self: center;
  font-weight: bold;
  width: 3rem;
}

.vote-button-up {
  align-self: center;
  font-size: 3rem;
  width: 1.5em;
}
.vote-button-down {
  align-self: center;
  font-size: 3rem;
  width: 1.5em;
}

.comment-author {
  font-weight: bold;
  text-align: left;
  margin-left: 1rem;
}

.comment-date {
  text-align: left;
  font-size: 0.7rem;
  margin-left: 1rem;
}

.vote-system {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.red {
  color: red;
}

.green {
  color: green;
}
