.article-image {
  width: 80vw;
  height: auto;
}

.article-body {
  margin: auto 5vw;
}
.comment-card {
  border-bottom: 1px solid grey;
  display: flex;
  flex-direction: row;
  grid-template-columns: 80% 20%;
  grid-template-areas: "text votes";
  font-size: 0.7rem;
}

.votes {
  grid-area: votes;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.vote-count {
  font-size: 1rem;
  justify-self: center;
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
}

.vote-button-up {
  align-self: center;
}
.vote-button-down {
  align-self: center;
}
