:root {
  font-size: 16px;
}

.App {
  text-align: center;
}

.content-port {
  margin-top: 0vh;
  top: 0%;
  background-color: #f4f4f9ea;
  color: #141415;
  min-height: 85vh;
}

.article-card {
  height: 15vh 20vh 25vh;
  color: #141415;
  /* background-color: #eff8fa; */
  padding-bottom: 0.3rem;
  flex-direction: column;
  display: grid;
  grid-template-columns: 40% 1fr 50%;
  grid-template-rows: 100%;
  width: 95vw;
  border-bottom: 1px solid #282c34;
  /* border-top: 1px solid #282c34; */
}

.article-card:hover {
  transform: scale(99%);
}

.article-card:focus {
  transform: 90%;
}

.card-text {
  grid-column-start: 3;
}

.article-title {
  font-weight: bold;
}

@keyframes growIntoPage {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.content-port {
  animation: 0.2s ease-out 0s 1 growIntoPage;
}
