:root {
  font-size: 16px;
  overflow-x: hidden;
}

.App {
  text-align: center;
}

.content-port {
  padding-top: 3vh;
  top: 0%;
  background-color: #f4f4f9ea;
  color: #141415;
  min-height: 85vh;
}

@keyframes fadeIntoPage {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.content-port {
  animation: 0.5s ease-out 0s 1 fadeIntoPage;
}
